/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-fungate-account-block {
	border: 1px dotted #f00;
}
.wp-block-create-block-fungate-account-block {
	background-color: #9c1e9c;
	color: #fff;
	padding: 2px;
}
