/* Bug fixing CSS
.search-form{
    display:block !important;
}
.attachments-wrapper{
    position:absolute !important;
    z-index:100 !important;
    display:block !important;
    margin-top: 48px;
    width:100%;
}
.media-sidebar{
    display:block;
}
*/