.fungate_fail_message {
    text-align: center;
    width: fit-content;
    margin: auto;
    /* border: 2px solid var(--wp-admin-theme-color); */
    border-radius: 5px;
    padding: 10px;
    animation: pulse 8.4s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95); /* Adjust the duration and cubic-bezier values as needed */
}
.fungateButton{
    color:var(--wp--preset--color--contrast);
}

#fungate_editorModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#fungate_sign_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.fungate-sign-modal-content{
    background-color: white;
    width: 25%;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    overflow-wrap:break-word;
    text-align:left;
    color:black;
}
#fungate_sign_nonce{
    color:brown;
}
#fungate_modalContent {
    background: #fff;
    padding: 20px;
    position: relative;
}
#fungate_closeEditorBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}
#fungate-modal-contents{
    background-color: white;
    width: 25%;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    overflow-wrap:break-word;
    text-align:left;
    color:black;
}

.fungate-download-button{
    width:fit-content;
}

@media (max-width: 768px) {
    .fungate-sign-modal-content{
        width:fit-content;
        max-width:80%;
    }
    #fungate-modal-contents{
        width:fit-content;
        max-width:80%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Normal size */
    }
    50% {
        transform: scale(0.97); /* Shrink by 6% */
    }
    100% {
        transform: scale(1); /* Back to normal size */
    }
}



@keyframes fungate-border-pulse {
    0% {
        border-color: var(--wp-admin-theme-color);
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: var(--wp-admin-theme-color);
    }
}
.fas.fa-wallet::before {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PCEtLSEgRm9udCBBd2Vzb21lIEZyZWUgNi40LjIgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UgKENvbW1lcmNpYWwgTGljZW5zZSkgQ29weXJpZ2h0IDIwMjMgRm9udGljb25zLCBJbmMuIC0tPjxwYXRoIGQ9Ik02NCAzMkMyOC43IDMyIDAgNjAuNyAwIDk2VjQxNmMwIDM1LjMgMjguNyA2NCA2NCA2NEg0NDhjMzUuMyAwIDY0LTI4LjcgNjQtNjRWMTkyYzAtMzUuMy0yOC43LTY0LTY0LTY0SDgwYy04LjggMC0xNi03LjItMTYtMTZzNy4yLTE2IDE2LTE2SDQ0OGMxNy43IDAgMzItMTQuMyAzMi0zMnMtMTQuMy0zMi0zMi0zMkg2NHpNNDE2IDI3MmEzMiAzMiAwIDEgMSAwIDY0IDMyIDMyIDAgMSAxIDAtNjR6Ii8+PC9zdmc+'); /* Base64-encoded SVG here */
    font-size: inherit;
    height: 1em; /* Adjust as needed */
    width: 1em; /* Adjust as needed */
    display: inline-block; /* or block, depending on your needs */
    vertical-align: -0.125em; 
  }
